
.faq-container {
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2);
    padding: 40px;
  }

  .faq-container .subtitle {
    text-align: center;
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .faq-container h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #111827;
  }

  .faq-container .faq-item {
    border-top: 1px solid #e5e7eb;
  }

  .faq-container .faq-question {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease;
  }

  .faq-container .faq-question:hover {
    background: #f3f4f6;
  }

  .faq-container .faq-answer {
    padding: 0 20px 20px;
    font-size: 15px;
    color: #4b5563;
    display: none;
    line-height: 1.6;
  }

  .faq-container .faq-question.active + .faq-answer {
    display: block;
  }

  .faq-container .arrow {
    transition: transform 0.3s ease;
    font-size: 18px;
    color: #9ca3af;
  }

  .faq-container .faq-question.active .arrow {
    transform: rotate(180deg);
    color: #4b5563;
  }

  .faq-container .faq-item:last-child {
    border-bottom: 1px solid #e5e7eb;
  }




  /** * Responsive Styles
  * */

  .logos-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: linear-gradient(90deg,rgba(0,0,0,0) 0,#000 15%,#000 85%,rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(90deg,rgba(0,0,0,0) 0,#000 15%,#000 85%,rgba(0,0,0,0) 100%);
}

.logos-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    animation: slide 30s linear infinite;
}

.logos-slider-container img {
  width:150px;
 max-width: 150px;
}

@keyframes slide {
  0% {
    transform: translate3d(0,0,0)
  }
  100% {
    transform: translate3d(-100%,0,0)
  }
}

.card {
  background: white;
  padding: 3rem;
  border-radius: 1rem;
  max-width: 90vw;
  margin: 2rem auto;
  box-shadow: 0px 3px 8px rgb(61 74 84 / 10%), 0px 3px 12px rgb(61 74 84 / 6%)
}

